@model StackUndertow.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}
<!-----------PROFILE PIC------------->
<div class="row profile-header">
    <div class="col-md-12 text-center marb-35">
        <img class="thumb profile-pic" src="@ViewBag.PicPath" alt="@ViewBag.PicAlt" />

        <!-----------HEADER------------->
        <h1 class="header-h">@Model.UserName.ToUpper()</h1>
        <p class="header-p">            
            @if (Model.UserName == User.Identity.Name)
            {
                <strong>SCORE: @Html.ActionLink((string)ViewBag.Score, "ScoreLog", "User")</strong>

                <h4>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</h4>
            }
            else
            {
                <strong>SCORE: @ViewBag.Score</strong>
            }
        </p>
    </div>
</div>
<div class="container">
    <div class="row double-bottom">

        <!------QUESTIONS----->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Questions:</h2>
                @foreach (var question in ViewBag.questionList)
            {
                    <hr/>
                    <div class="row">
                        <div class="category-1 menu-user menu-restaurant" data-myorder="2">
                            <span class="clearfix">
                                <a class="menu-title" href="/Detail/@question.Id" data-meal-img="assets/img/restaurant/rib.jpg">@question.Title</a>
                                <span class="menu-price menu-user">@question.Created.ToString()</span>
                            </span>
                            <div class="menu-subtitle">
                                <p>@question.Body</p>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>
        </div>

        @Html.Partial("_AnswerList")

    </div>
</div>
