@model StackUndertow.Models.Question

@{
    ViewBag.Title = "Detail";
}


<div class="row marb-35">
    <div class="container">

        <!-----------HEADER------------->
        <div class="col-md-12 text-center marb-35">
            <h1 class="header-h">
                @Model.Title

                @if (User.Identity.Name == Model.Owner.UserName && ViewBag.canEdit == true)
                {
                    <a href="@Url.Action("Edit", "Question", new { id = Model.Id })" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", "Question", new { id = Model.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></a>

                }
            </h1>
            @if (ViewBag.attachmentPath != null)
            {
                <div class="panel panel-attachment">
                    <div class="panel-body">
                        <img class="thumb detail-attachment" src="@ViewBag.attachmentPath" alt="screenshot" />
                    </div>
                </div>
            }
            <p class="header-p">
                Asked by:
                <a href="/u/@Model.Owner.UserName">@Model.Owner.UserName</a>
            </p>
        </div>
    </div>

    <!------QUESTION----->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="category-1 menu-user menu-restaurant" data-myorder="2">
                <span class="clearfix">
                    @Model.Body
                </span>
                <div class="menu-subtitle">
                    <p>@Model.Created.ToString()</p>
                </div>
                <span class="marb-35">
                    &nbsp;
                </span>
                <hr />
            </div>
        </div>
    </div>

    <!------ADD ANSWER------->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @if (User.Identity.IsAuthenticated && User.Identity.Name != Model.Owner.UserName)
            {
                 <!--https://github.com/NicholasSaravia/StackUndertow-->
                using (Html.BeginForm("AddAnswer", "Answer", new { id = Model.Id, command = "Answer" }))
                {
                    <textarea class="form-control ans-textarea" rows="5" id="body" name="body"></textarea>
                    <br />
                    <input type="submit" class="btn contacts-btn" value="Answer" name="command" />
                }
            }
        </div>
    </div>

    @Html.Partial("_AnswerList")
    
</div>